* {
    box-sizing: border-box;
}
body {
    margin:0;
    background-image: url("snow.jpg");
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    font-size: 4rem;
}
.big-tech {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
}
span{
    font-size: 2.5rem;
    margin-left: 50px;
}